.unit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: grey;
    height: 100%;
    width: 100%;
}

.image-container {
    width: 100px;
    height: 100px;
}

